<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24407155112-etu2biol9uuhg4pfthalmhr144jcptgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24407155112-etu2biol9uuhg4pfthalmhr144jcptgc</string>
	<key>API_KEY</key>
	<string>AIzaSyBHzDIuUeTw4OlTlpzPsfSTqpd1skg8KdA</string>
	<key>GCM_SENDER_ID</key>
	<string>24407155112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-9f9bb</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-9f9bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24407155112:ios:106d4d922c97730e05fd9d</string>
</dict>
</plist>